<h1>Sign Up</h1>

<form action="<%= users_url %>" method="post">
	<%= auth_token %>
	<label for='email'>Email</label><br>
	<input type="text" name="user[email]" id="email" /><br>
	<br>
	<label for='password'>Password</label><br>
	<input type="password" name="user[password]" id="password" /><br>
	<br>
	<input type="submit" value="Create Account &rarr;" />
</form>
