<!DOCTYPE html>
<html>
  <head>
    <title>Issue Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header>
		<h2>Issue Tracker</h2>
		<div>
			<% if current_user.nil? %>
				<a href='<%= new_session_url %>'>Sign In</a>
				<a href='<%= new_user_url %>'>Sign Up</a>
			<% else %>
				<ul>
					<li>Logged in as: <%= current_user.email %></li>
					<li><form action="<%= session_url %>" method="post">
							<%= auth_token %>
							<input type="hidden" name="_method" value="delete" />
							<input type="submit" value="Sign Out &rarr;" />
						</form></li>
				</ul>
			<% end %>
		</div>
	</header>

  <body>
    <%= yield %>
  </body>
</html>
